h1{
    color: blue;
}

table{
    width: 100%;
    border: 2px solid black;
    padding: 5px;
    font-size: 30px
}

th, td{
    border: 2px solid black;
    padding: 5px;
}


th{
     text-decoration: underline
}


