{% extends 'AppTwo/baseTwo.html' %}

{% block title_block %}
        Register
    {% endblock %}

{% block body_block %}
    <div class="jumbotron" align="center">
        {% if registered %}
            <h1>Thank you for registering!</h1>
        {% else %}
            <h1>Welcome to the registration page</h1>
            <h2>Please fill out the form below</h2>

            <form enctype="multipart/form-data" align='left' method="post">

                {% csrf_token %}
                {{user_form.as_p}}
                {{user_profile_form.as_p}}

                <input type="submit" class="btn btn-primary" value="Register">
            </form>

        {% endif %}

    </div>


    <div class="container" >
        <p>If you have an account please <a href="{% url 'AppTwo:login' %}">login</a> here.</p>
        <p>click here for the <a href="{% url 'admin:index' %}">admin</a> page</p>
    </div>

{% endblock %}